body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: roboto;
}

.hero {
    background-color: #1F2937;
    height: 300px;
    width: 100%;
    color: white;
    padding:12px 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}
.headerLogo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}
.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    font-size: 12px;;
}
.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}