body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: serif;
 }

.hero {
    background-color: #1F2937;
    color: white;
    padding:12px 80px 64px 80px;
}

.mainHero{
    margin: 24px 20px;
    display: flex;
    justify-content:space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}
.headerLogo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}
.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    font-size: 12px;;
}
.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.mainHero .Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex: 1 1 0;
    margin-right: 36px;
}
.mainHero .Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: RGB(109, 116, 125);
    flex:1 1 0
}
.mainHero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin:0
}
p {
    font-size: 18px;
    color: #E5E7EB;
}
.primaryButton {
    width:120px;
    background-color: #3882F6;
    color: white;
    padding: 4px 4px;
    border-radius: 6px;
    border: none;
}

.gallerySection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.galleryRow {
    display: flex;
    justify-content: space-around;
}

.rectangle {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #3882F6;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.galleryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    margin: 0 12px;
}

.galleryCard p {
    color: black;
}

.quoteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 24px 140px;
}
.quoteSection p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: left;
    font-style: italic;
}
#author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 1em;
    font-style: normal;
}